<div class="main_container" 
data-userid="{{userID}}"
data-email="{{email}}"
data-balance="{{balance}}"
data-postalcode="{{postalCode}}"
data-city="{{city}}"
data-country="{{country}}"
data-tempunit="{{tempUnit}}"
>

</div>